node_modules
.vitepress/dist/404.html
.vitepress/dist/api-examples.html
.vitepress/dist/hashmap.json
.vitepress/dist/index.html
.vitepress/dist/markdown-examples.html
.vitepress/dist/README.html
.vitepress/dist/vp-icons.css
.vitepress/dist/assets/api-examples.md.vDdmIjJt.js
.vitepress/dist/assets/api-examples.md.vDdmIjJt.lean.js
.vitepress/dist/assets/app.C0qkNyAQ.js
.vitepress/dist/assets/docs_analysis_2025上半年.md.BVsFLwjo.js
.vitepress/dist/assets/docs_analysis_2025上半年.md.BVsFLwjo.lean.js
.vitepress/dist/assets/docs_Part1-了解软考相关内容.md.uw_GQkC2.js
.vitepress/dist/assets/docs_Part1-了解软考相关内容.md.uw_GQkC2.lean.js
.vitepress/dist/assets/docs_Part2-初次尝试学习软考.md.oi6TsSYE.js
.vitepress/dist/assets/docs_Part2-初次尝试学习软考.md.oi6TsSYE.lean.js
.vitepress/dist/assets/docs_Part3-信息系统架构设计理论.md.CNozhwft.js
.vitepress/dist/assets/docs_Part3-信息系统架构设计理论.md.CNozhwft.lean.js
.vitepress/dist/assets/docs_Part4-ABSD 基于体系结构的软件设计.md.CFPgFCts.js
.vitepress/dist/assets/docs_Part4-ABSD 基于体系结构的软件设计.md.CFPgFCts.lean.js
.vitepress/dist/assets/docs_Part5-软件架构风格.md.BXj-2XMD.js
.vitepress/dist/assets/docs_Part5-软件架构风格.md.BXj-2XMD.lean.js
.vitepress/dist/assets/docs_Part6-特定领域软件体系结构.md.DQMlpmz9.js
.vitepress/dist/assets/docs_Part6-特定领域软件体系结构.md.DQMlpmz9.lean.js
.vitepress/dist/assets/docs_Part7-系统质量属性.md.ChO3QUhT.js
.vitepress/dist/assets/docs_Part7-系统质量属性.md.ChO3QUhT.lean.js
.vitepress/dist/assets/docs_Part8-架构评估.md.o7Xn2Qd5.js
.vitepress/dist/assets/docs_Part8-架构评估.md.o7Xn2Qd5.lean.js
.vitepress/dist/assets/docs_Part9-软件可靠性.md.Dbc7dR65.js
.vitepress/dist/assets/docs_Part9-软件可靠性.md.Dbc7dR65.lean.js
.vitepress/dist/assets/docs_Part10-软件工程.md.BDeA-09V.js
.vitepress/dist/assets/docs_Part10-软件工程.md.BDeA-09V.lean.js
.vitepress/dist/assets/docs_Part11-数据库设计.md.zzPOKvST.js
.vitepress/dist/assets/docs_Part11-数据库设计.md.zzPOKvST.lean.js
.vitepress/dist/assets/docs_Part12-信息系统架构设计.md.CPIDHRjL.js
.vitepress/dist/assets/docs_Part12-信息系统架构设计.md.CPIDHRjL.lean.js
.vitepress/dist/assets/docs_Part13-层次式架构设计.md.CZ76erqv.js
.vitepress/dist/assets/docs_Part13-层次式架构设计.md.CZ76erqv.lean.js
.vitepress/dist/assets/docs_Part14-云原生架构设计.md.DQJYhxTE.js
.vitepress/dist/assets/docs_Part14-云原生架构设计.md.DQJYhxTE.lean.js
.vitepress/dist/assets/docs_Part15-面向服务架构设计.md.CQVJ6cRR.js
.vitepress/dist/assets/docs_Part15-面向服务架构设计.md.CQVJ6cRR.lean.js
.vitepress/dist/assets/docs_Part16-嵌入式系统架构设计.md.Cf3pFYwB.js
.vitepress/dist/assets/docs_Part16-嵌入式系统架构设计.md.Cf3pFYwB.lean.js
.vitepress/dist/assets/docs_Part17-通信架构设计.md.B2jATCP4.js
.vitepress/dist/assets/docs_Part17-通信架构设计.md.B2jATCP4.lean.js
.vitepress/dist/assets/docs_Part18-安全架构设计.md.P9tkVdkq.js
.vitepress/dist/assets/docs_Part18-安全架构设计.md.P9tkVdkq.lean.js
.vitepress/dist/assets/docs_Part19-大数据架构设计.md.ClnaIQYT.js
.vitepress/dist/assets/docs_Part19-大数据架构设计.md.ClnaIQYT.lean.js
.vitepress/dist/assets/docs_Part20-论文.md.CiM8nXFm.js
.vitepress/dist/assets/docs_Part20-论文.md.CiM8nXFm.lean.js
.vitepress/dist/assets/index.md.D22R62W9.js
.vitepress/dist/assets/index.md.D22R62W9.lean.js
.vitepress/dist/assets/inter-italic-cyrillic-ext.r48I6akx.woff2
.vitepress/dist/assets/inter-italic-cyrillic.By2_1cv3.woff2
.vitepress/dist/assets/inter-italic-greek-ext.1u6EdAuj.woff2
.vitepress/dist/assets/inter-italic-greek.DJ8dCoTZ.woff2
.vitepress/dist/assets/inter-italic-latin-ext.CN1xVJS-.woff2
.vitepress/dist/assets/inter-italic-latin.C2AdPX0b.woff2
.vitepress/dist/assets/inter-italic-vietnamese.BSbpV94h.woff2
.vitepress/dist/assets/inter-roman-cyrillic-ext.BBPuwvHQ.woff2
.vitepress/dist/assets/inter-roman-cyrillic.C5lxZ8CY.woff2
.vitepress/dist/assets/inter-roman-greek-ext.CqjqNYQ-.woff2
.vitepress/dist/assets/inter-roman-greek.BBVDIX6e.woff2
.vitepress/dist/assets/inter-roman-latin-ext.4ZJIpNVo.woff2
.vitepress/dist/assets/inter-roman-latin.Di8DUHzh.woff2
.vitepress/dist/assets/inter-roman-vietnamese.BjW4sHH5.woff2
.vitepress/dist/assets/markdown-examples.md.BFs8NFVI.js
.vitepress/dist/assets/markdown-examples.md.BFs8NFVI.lean.js
.vitepress/dist/assets/README.md.sMZVYVNx.js
.vitepress/dist/assets/README.md.sMZVYVNx.lean.js
.vitepress/dist/assets/style.CwNnKCVM.css
.vitepress/dist/assets/chunks/framework.CBTkueSR.js
.vitepress/dist/assets/chunks/theme.BOpFTrOg.js
.vitepress/dist/docs/Part1-了解软考相关内容.html
.vitepress/dist/docs/Part2-初次尝试学习软考.html
.vitepress/dist/docs/Part3-信息系统架构设计理论.html
.vitepress/dist/docs/Part4-ABSD 基于体系结构的软件设计.html
.vitepress/dist/docs/Part5-软件架构风格.html
.vitepress/dist/docs/Part6-特定领域软件体系结构.html
.vitepress/dist/docs/Part7-系统质量属性.html
.vitepress/dist/docs/Part8-架构评估.html
.vitepress/dist/docs/Part9-软件可靠性.html
.vitepress/dist/docs/Part10-软件工程.html
.vitepress/dist/docs/Part11-数据库设计.html
.vitepress/dist/docs/Part12-信息系统架构设计.html
.vitepress/dist/docs/Part13-层次式架构设计.html
.vitepress/dist/docs/Part14-云原生架构设计.html
.vitepress/dist/docs/Part15-面向服务架构设计.html
.vitepress/dist/docs/Part16-嵌入式系统架构设计.html
.vitepress/dist/docs/Part17-通信架构设计.html
.vitepress/dist/docs/Part18-安全架构设计.html
.vitepress/dist/docs/Part19-大数据架构设计.html
.vitepress/dist/docs/Part20-论文.html
.vitepress/dist/docs/analysis/2025上半年.html
.vitepress/cache/deps/_metadata.json
.vitepress/cache/deps/@theme_index.js
.vitepress/cache/deps/@theme_index.js.map
.vitepress/cache/deps/chunk-QKXXKPGR.js
.vitepress/cache/deps/chunk-QKXXKPGR.js.map
.vitepress/cache/deps/chunk-XV6CE6JT.js
.vitepress/cache/deps/chunk-XV6CE6JT.js.map
.vitepress/cache/deps/package.json
.vitepress/cache/deps/vitepress___@vue_devtools-api.js
.vitepress/cache/deps/vitepress___@vue_devtools-api.js.map
.vitepress/cache/deps/vitepress___@vueuse_core.js
.vitepress/cache/deps/vitepress___@vueuse_core.js.map
.vitepress/cache/deps/vue.js
.vitepress/cache/deps/vue.js.map
